<div class="row m-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="row rounded-3 mt-5" >
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mb-5">
        <br>
        <div class="row container">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <br>
            <h5>Xin chào bạn</h5>
            <h3>Đăng nhập để tiếp tục</h3>
            <br>
            <form (ngSubmit)="register()">
              <div class="form-outline mb-4">
                <label class="form-label" for="name">Tên</label>
                <input type="email" id="name" class="form-control" name="name" [(ngModel)]="form.name" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Tài khoản</label>
                <input type="email" id="username" class="form-control" name="username" [(ngModel)]="form.username" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="email">email</label>
                <input type="email" id="email" class="form-control" name="email" [(ngModel)]="form.email"/>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password" >mật khẩu</label>
                <input type="password" id="password" class="form-control" name="password" [(ngModel)]="form.password"/>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                    <label class="form-check-label" for="rememberMe">Nhớ mật khẩu </label>
                  </div>
                </div>

                <div class="col">
                  <!-- Simple link -->
                  <a class="me-5 "  href="#!">Quên mật khẩu?</a>
                </div>
              </div>

              <!-- Submit button -->
              <div class="row align-items-center me-1 ms-1">
                <button type="submit" class="btn btn-primary btn-block mb-4 ">Đăng nhập</button>
              </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>Chưa có tài khoản? <a href="#!">Đăng ký</a></p>
              </div>
            </form>
          </div>
          <div class="col-lg-2"></div>

        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

